<% if @current_user %>
	<h1>Bienvenue <%= @current_user.name %>!</h1>
	<%= form_tag '/users/home', method: :delete do %>
		<input type="submit" value="deconnexion">
	<% end %>
<% else %>
	<h1>Bienvenue visiteur anonyme !</h1>
	<a href="/users/login">S'identifier</a>
<% end %>
